.slider {
  position: relative;
}

.slider__container {
  overflow: hidden;
}

.slider__wrapper {
  /*overflow: hidden;*/
}

.slider__items {
  display: flex;
  transition: transform 0.5s ease;

}

.slider_disable-transition {
  transition: none;
}

.slider__item {
  flex: 0 0 100%;
  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
  @media screen and (max-width: 1200px) and (min-width: 801px) {
    max-width: 33.33333333%;
  }
  max-width: 25%;
  user-select: none;

  &.slider__item_active--first>*{
    border: none;
  }
}
/* кнопки влево и вправо */

.slider__control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  background: none;
  border: none;
}

.slider__control_hide svg {

  cursor: default;

  circle {
    stroke: rgba(198, 198, 198, 1);;
  }

  path {
    fill: rgba(198, 198, 198, 1);
  }

}

.slider__control[data-slide='prev'] {
  left: -60px;
  @media screen and (max-width:1px ){

  }
}

.slider__control[data-slide='next'] {
  right: -60px;
}


/* индикаторы */

.slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin: 0 15%;
}

.slider__indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.slider__indicators li.active {
  background-color: rgba(255, 255, 255, 0.9);
}