$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

.blog {
  &.block {
    padding-right: 0;
  }

  .block_slider-header {
    @media screen and (min-width: $xxl) {
      margin-right: 200px;
    }


    @media screen and (max-width: $sm) {
      padding-right: 50px;
    }

    @media screen and (min-width: $sm + 1) and(max-width: $lg) {
      padding-right: 100px;
    }

    @media screen and (min-width: $lg) and (max-width: $xxl) {
      padding-right: 150px;
    }
  }

  .slider__item {
    max-width: 300px;
    @media screen and (max-width: $md) {
      max-width: 200px;
    }
  }

  .slider__control {
    left: -80px;
    width: 50px;
    height: 50px;

    @media screen and (max-width: $sm) {
      width: 30px;
      height: 30px;
      left: -50px;
    }
    padding: 0;
    background: none;
    border: none;
  }

  .slider__control[data-slide='prev'] {
    top: 30%;

  }

  .slider__control[data-slide='next'] {
    bottom: 30%;
  }

  .card {
    margin-right: 30px;
    box-shadow: 0px 4px 20px 0px #00000012;

    .link {
        svg {
          margin-left: 30px;
        }
      &:hover{
        color:red;
        *{
        fill: red;
        }
      }
    }

    .card_header{
      justify-content: space-between;
    }
  }
}