.why-us{
  background: #F8F8F8 url("../assets/images/why-us-map2.png") no-repeat center;

  .card{
    border-radius: 0;
    border-left: 6px solid transparent;
    background: white;
    padding: 30px 80px 30px 30px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    height: 100%;
    svg{
      position: absolute;
      right: 10px;
    }
    &:hover{
      box-shadow: 0px 4px 20px 0px #00000012;

      border-color: #DD4053;
      svg{
        fill: #DD4053;

      }
    }

  }

}