.tours{

  .slider__item {
    @media screen and (max-width: 800px) {
      max-width: 100%;
    }
    max-width: 33.33333333%;
    user-select: none;}

  .slider__control {
    top: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    background: none;
    border: none;
  }

  .slider__control[data-slide='prev'] {
    left: -60px;
  }

  .slider__control[data-slide='next'] {
    right: -60px;
  }

  .actual_tour-card{
    width: 326px;
    height: 480px;
    background: #F8F8F8;
  }
  .tour_card-head{
    width: 326px;
    height: 250px;

  }
  .card1 .tour_card-head{
    background-image: url(../assets/images/tour1.png);
  }
  .card_label {
    position: relative;
    top:20px;
    width: fit-content;
    padding: 3px 13px 3px 15px;
    height: 30px;
    background: rgba(0, 0, 0, 0.35);

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }

  .tour_card-foot{
border-top: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding-top:25px;
  }
  .tour_card-text p{

    margin: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #DD4053;
  }

  .tour_card-text{
    height:50px;

  }

  .tour_card-text p span{
    font-size: 24px;
  }

  .tour_card-text h6{
    margin:0px;


    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #C9C9C9;
  }

  .actual_tour-card h3{

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;


    text-transform: uppercase;
  }

  .actual_tour-card h4{
    margin:0px;
    margin-top: 15px;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #848484;
  }

  .bott{
    padding-left:20px;
    padding-right:20px;
  }
  .tour_card-foot p{
    margin: 0px;
  }
}